extends layout

block append head 
    link(rel='stylesheet', href='/stylesheets/home.css')

block content 
    -
        // Variable Preparation + awfully long time calculator
        function getTime(ms){
            const today = Date.now()
            const date = ms
            const difference = Math.abs(date-today)/1000;
            var finalTime="";

            if(difference < 3600){
                const minutes = Math.floor(difference / 60) % 60;
                if(minutes > 1){
                    finalTime = minutes + " minutes ago"
                }
                else{
                    finalTime = "Just now"
                }
            }
            else if(difference < 86400){ // <1 day
                const hours = Math.floor(difference / 3600) % 24;
                if(hours > 1 || hours == 0){
                    finalTime = hours + " hours ago"
                }
                else{
                    finalTime = hours + " hour ago"
                }
            } 
            else{
                const days = Math.floor(difference / 86400);
                if(days > 1){
                    finalTime = days + " days ago"
                }
                else{
                    finalTime = days + " day ago"
                }
            }

            return finalTime;
        }


    .flexcontainer 
        // Only users should see this
        if(user)
            .boxoutercontainer 
                h2 Your Posts
                .personalboxinnercontainer
                    each post in posts
                        if post.uid == user.uid
                            a(class="box" href="/posts/"+post.id)
                                h1= post.title
                                h2: span= post.user
                                p= post.description + "..."
                                h3= getTime(post.created)
                
                .addNewContainer 
                    a(href="/posts/new"): .addBox 
                        h1 New post 
                        p +

        .boxoutercontainer 
            h2 Recent Posts
            .boxinnercontainer
                each post in posts
                    a(class="box" href="/posts/"+post.id)
                        h1= post.title
                        h2: span= post.user
                        p= post.description + "..."
                        h3= getTime(post.created)
                else 
                    h3 There are no posts :(