extends layout

block append head 
    link(rel='stylesheet', href='/stylesheets/home.css')

block content 
    -
            // Variable Preparation + time calculator
        function getTime(ms){
            const today = Date.now()
            const date = ms
            const difference = Math.abs(date-today)/1000;
            var finalTime="";

            if(difference < 3600){
                const minutes = Math.floor(difference / 60) % 60;
                finalTime = minutes + ((minutes > 1) ? " minutes ago" : " minute ago");
            }
            else if(difference < 86400){ // <1 day
                const hours = Math.floor(difference / 3600) % 24;
                finalTime = hours + ((hours > 1 || hours == 0) ? " hours ago" : " hour ago")
            } 
            else{
                const days = Math.floor(difference / 86400);
                finalTime = days + ((days > 1) ? " days ago" : " day ago")
            }
            console.log(finalTime)
            return finalTime;
        
        }


    .flexcontainer 
        // Only users should see this
        if(user)
            .boxoutercontainer 
                h2 Your Posts
                .personalboxinnercontainer
                    if posts != null
                        each post in posts
                            if post.uid == user.uid
                                a(class="box" href="/posts/"+post.id)
                                    h1= post.title
                                    h2: span= post.user
                                    p= post.description + "..."
                                    h3= getTime(post.created)
                    else 
                        h3 Create a post to see it here
                
                .addNewContainer 
                    a(href="/posts/new"): .addBox 
                        h1 New post 
                        p +

        .boxoutercontainer 
            h2 Recent Posts
            .boxinnercontainer
                if posts != null
                    each post in posts
                        a(class="box" href="/posts/"+post.id)
                            h1= post.title
                            h2: span= post.user
                            p= post.description + "..."
                            h3= getTime(post.created)
                else 
                    h3 There are no posts :(