extends layout 

block append head 
    link(rel='stylesheet', href='/stylesheets/post.css')

block append scripts 
    script(type="module" src="/javascripts/posts.js")

block content 
    -
        // Variable Preparation
        const date = new Date(post.created)
        const dateString = date.toString().substr(4, 11)

    .postcontainer 
        h1 #{post.title}
        .p3 Posted #{dateString}
        
        p(class="description") #{post.description}
    
        .contactsection
            h3 Author's Profile
            a(href="/profile/"+postUser.uid) 
                h2: span #{postUser.name} 
            p #{postUser.email}
            p #{postUser.phone}
            