extends layout 

block append head 
    link(rel='stylesheet', href='/stylesheets/profile.css')

block content 
    -
        // Variable Preparation
        const date = new Date(profile.created)
        const dateString = date.toString().substr(4, 11)

        const artists = profile.artists.split(',')


    .profileContainer
        // Yeah I mixed up left and right... no i wont change it...
        .profileRight 
            img(src="/images/blank-pfp.jpg")

            if user
                if user.uid == profile.uid
                    a(href="/profile/edit")
                        button(class="editProfile") Edit Profile

                    a
                        button(class="logout") Log Out

        .profileMiddle
            if(profile.name)
                h1 #{profile.name}
            else
                h1 #{profile.email}

            
            .p3 Joined #{dateString}
                if(profile.admin)
                    span  Admin

            .socialIcons 
                if(profile.spotify)
                    a.socialLink(href="https://open.spotify.com/artist/" + profile.spotify)
                        img(src="/images/spotify.png")
                
                if(profile.soundcloud)
                    a.socialLink(href="https://soundcloud.com/" + profile.soundcloud)
                        img(src="/images/soundcloud.png")
                
                if(profile.otherLink)
                    a.socialLink(href="https://" + profile.otherLink)
                        img(src="/images/website.png")

            p(class="description") #{profile.description}

            .favouriteArtists 
                h1 Favourite Artists
                .list
                    each artist in artists 
                        p= artist

        .profileLeft
            h2 Your Groups (WiP)

            a.bandLink(href="#")
                img(src="/images/blank-pfp.jpg")
                p Radiohead

            a.bandLink(href="#")
                img(src="/images/blank-pfp.jpg")
                p The Smile 

            a.bandLink(href="#")
                img(src="/images/blank-pfp.jpg")
                p Atoms For Peace



                
                


            